body {
    font-family: Arial, sans-serif;
    background-image: url("https://i.postimg.cc/0jSkXrPg/Apresenta-o-de-Persona-do-Usu-rio-Ilustrada-Preto-Roxo-Neon-Verde-1.gif");
    background-size: cover;
    color: #fff;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .header {
    text-align: center;
    margin-top: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 28px;
    color: #fff;
    padding: 10px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 70px
  }

  .verify-container {
    margin-bottom: 20px;
    text-align: center;
  }

  .verify-button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .verify-button:hover {
    background-color: #c74d37;
    transform: scale(1.05);
  }

  .signs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }

  .sidebar-link {
    color: #fff;
    text-decoration: none;
    padding: 8px;
    margin: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: 2px solid #fff;
    border-radius: 5px;
  }

  .sidebar-link:hover {
    background-color: #7c2caa;
    transform: translateX(5px);
  }

  footer {
   
    text-align: center;
    padding: 1px;
    margin-top: 2px; /* Adicionei um margin-top para controlar a altura */
    background-color: rgba(241, 241, 241, 0.5);
    color: #000;
    border-radius: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1; /* Certifique-se de que o footer esteja em um nível superior */
}
  

  .footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.footer-links a {
  color: #000;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.separator {
  margin: 0 10px;
  color: #000;
}

  .combination-button {
    background-color: #d4276f;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: pulse 2s infinite; /* Adiciona a animação de pulsação */
  }

  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  }

  .combination-button:hover {
    background-color: #c01f62;
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }

 

  @media screen and (min-width: 100% )
  
    .buttons-horizontal {
      display: flex;
      justify-content: space-between;
      max-width: 500px;
      margin-top: 20px;
    }

    .horizontal-button {
      flex: 1;
      margin: 0 5px;
    }
